<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzwy.dao.ContentMapper">


    <select id="pageContent" resultType="java.util.List" parameterType="java.util.Map">
        SELECT *
        FROM content  c
        <where>
            1=1
            <if test="display != null and display != ''">
                and display=#{display}
            </if>
            <if test="search != null and search !=''">
                AND ( summary LIKE #{search})
            </if>
        </where>
        <choose>
            <when test="sort != null and orderby !=null">
                ORDER BY ${sort} ${orderby}
            </when>
            <when test="sort != null">
                ORDER BY ${sort} DESC
            </when>
        </choose>
    </select>

</mapper>