<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzwy.dao.BonusLogMapper">

    <!--统计当天流水量-->
    <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT count(*) FROM bonus_log WHERE 1=1
        <if test="userId != null and userId != ''">
            and user_id=#{userId}
        </if>
        <if test="event != null and event != ''">
            and event=#{event}
        </if>
        <if test="date != null and date != ''">
            <bind name="search" value="'%' + date + '%'"/>
            and create_time like #{search}
        </if>
    </select>

</mapper>